// page transition display style
.animate {
  animation: pageloader 1s ease-in;
  @keyframes pageloader {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.animate2 {
  animation: statsload 1s ease-in;
  @keyframes statsload {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
      transform: translateX(100%);
    //   transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    //   transform: scale(1);
    }
  }
}
