@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

$border: 1px solid #015871;
$card-bg: #005b60e6;
$background-gradient: radial-gradient(
  ellipse at center,
  rgba(255, 254, 234, 1) 0%,
  rgba(255, 254, 234, 1) 35%,
  #b7e8eb 100%
);
$border-radius: 10px;
$background: #015871;
$text-Color: #b7e8eb;
$paragraph-Color: #37a1a7;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1750px) {
      @content;
    }
  }
}

// General page gradient

body {
  background: $background-gradient;
  // border: 2px solid red;
  padding-bottom: 60px;
  @include responsive(bigphone) {
    padding-bottom: 0;
  }
  // overflow: hidden;
}

// Starting page loader
.StartingLoading-main-container {
  background: $background-gradient;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  animation: closepage 1s 5s linear;

  @keyframes closepage {
    0% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
    }
    100% {
      height: 0vh;
      opacity: 0;
    }
  }

  .loading-animation {
    margin-top: 45vh;
    @include responsive(bigphone) {
      margin-top: 40vh;
    }

    .loading-number {
      font-weight: bolder;
      font-size: 100px;
      color: $background;

      @include responsive(bigphone) {
        font-size: 200px;
      }
    }

    .loading-skill {
      font-size: 20px;
      color: $background;
      overflow: hiddden;
      height: 30px;
      margin-bottom: 10px;

      @include responsive(bigphone) {
        font-size: 30px;
      }
    }

    .loading-bar {
      border: $border;
      border-radius: $border-radius;
      height: 50%;

      .first-load-line {
        @include flexDisplay(center, flex-start, column);
        height: 10px;
        padding: 2px;

        .second-load-line {
          border: $background;
          border-radius: $border-radius;
          background: $background;
          height: 90%;
          width: 100%;
          animation: loadline 5s linear;

          @keyframes loadline {
            0% {
              width: 0%;
            }
            100% {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;

    .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
        repeat-x;
      position: absolute;
      top: -198px;
      width: 6400px;
      height: 198px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
    }

    .wave:nth-of-type(2) {
      top: -175px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s ease -1.25s infinite;
      opacity: 1;
    }

    @keyframes wave {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: -1600px;
      }
    }

    @keyframes swell {
      0%,
      100% {
        transform: translate3d(0, -25px, 0);
      }
      50% {
        transform: translate3d(0, 5px, 0);
      }
    }
  }
}

// HOME PAGE
.Homepage {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
  // border: 2px solid red;

  .navbar-main-con {
    border: #b7e8eb;
    background: #b7e8eb;
    width: 98%;
    border-radius: $border-radius;
    margin: 0 auto;
    padding: 5px;
    bottom: 0px;
    position: fixed;
    z-index: 20;
    @include flexDisplay(space-between, center, column);
    // border: 2px solid red;

    @include responsive(bigphone) {
      @include flexDisplay(center, center, row);
      width: 600px;
      height: 70px;
      position: relative;
      margin-top: 10px;
    }

    .nav {
      width: 100%;

      .ul {
        @include flexDisplay(center, center, row);
        @include responsive(bigphone) {
          @include flexDisplay(center, center, row);
        }

        li {
          width: 100%;
          height: 50px;
          border-radius: 7px;
          cursor: pointer;
          @include flexDisplay(space-around, center, column);
          @include responsive(bigphone) {
            width: 120px;
            height: 50px;
            border: none;
          }

          &:hover {
            transform: scale(1.1);
            background: $card-bg;
            a {
              color: $text-Color;
            }
          }
          a {
            @include flexDisplay(center, center, row);

            color: $card-bg;
            font-weight: bolder;
            font-size: 10px;
            width: 100%;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;

            @include responsive(bigphone) {
              font-size: 20px;
            }
          }

          .menu-icon {
            font-size: 30px;
            color: $card-bg;
            @include responsive(bigphone) {
              display: none;
            }
          }
        }
      }
    }
  }

  // banner  style
  .Banner-main-con {
    // border: 2px solid red;
    margin-top: 50px;
    .full-name {
      margin: 0 auto;
      color: $card-bg;
      @include flexDisplay(space-around, center, column);

      h3 {
        font-size: 25px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        @include responsive(bigphone) {
          font-size: 50px;
          margin-bottom: -20px;
        }
      }
      h1 {
        font-size: 45px;
        @include flexDisplay(space-around, center, column);
        @include responsive(bigphone) {
          font-size: 100px;
        }
      }
    }
    .banner-img {
      // border: 2px solid red;
      width: 80%;
      // height: 500px;
      margin: 0 auto;
      margin-top: -10px;
      @include flexDisplay(space-around, center, column);

      @include responsive(bigphone) {
        margin-top: -20px;
      }
      .my-img {
        //  border: 2px solid red;
        margin-top: 0;
        @include responsive(bigphone) {
          font-size: 50px;
        }
      }
    }
    .pitch-con {
      // border: 2px solid red;
      margin: 0 auto;
      width: 90%;
      @include flexDisplay(center, center, column);

      @include responsive(bigphone) {
        width: 90%;
        max-width: 1000px;
      }

      .pitch {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        line-height: 25px;
        color: $paragraph-Color;

        button {
          border: $border;
          padding: 0 3px;
          border-radius: $border-radius;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          color: $card-bg;
          cursor: pointer;
          font-weight: bolder;
        }

        @include responsive(bigphone) {
          font-size: 17px;
        }
      }
    }

    .myStaticsCon {
      @include flexDisplay(space-around, top, row);
      margin: 0 auto;
      margin-top: 20px;
      width: 90%;

      @include responsive(bigphone) {
        width: 90%;
        margin-top: 50px;
        max-width: 1200px;
      }
      .statCard {
        @include flexDisplay(center, top, column);
        border: $border;
        box-shadow: $background-gradient;
        border-radius: $border-radius;
        width: 30%;
        margin-bottom: auto;
        text-align: center;
        padding: 5px 0;

        @include responsive(bigphone) {
          height: 170px;
          border-radius: 10px;
          padding: 0 0 15px 0;
        }

        h1 {
          font-size: 50px;
          color: $card-bg;
          @include responsive(bigphone) {
            font-size: 100px;
          }
        }
        p {
          font-size: 10px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;

          color: $paragraph-Color;
          @include responsive(bigphone) {
            font-size: 20px;
          }
        }
      }
    }
    .pun {
      height: 30px;
      overflow: hidden;
      margin: 0 auto;
      width: 85%;
      z-index: 0;

      @include responsive(bigphone) {
        width: 85%;
        max-width: 1200px;
      }
      .scrolling-text {
        overflow: hidden;
        white-space: nowrap;
        animation: scroll-left 20s linear infinite;
        font-size: 10px;
        color: $paragraph-Color;
        word-spacing: 2px;
        letter-spacing: 1px;
        margin-top: 2px;
        @include responsive(bigphone) {
          font-size: 13px;
          letter-spacing: 3px;
          word-spacing: 5px;
        }

        @keyframes scroll-left {
          from {
            transform: translateX(100%);
          }
          to {
            transform: translateX(-100%);
          }
        }
      }
    }

    .statistics-con {
      @include flexDisplay(space-between, center, row);
      flex-wrap: wrap;
      margin: 0 auto;
      margin-top: 10px;
      width: 90%;
      max-width: 1500px;
      @include responsive(bigphone) {
        margin-top: 50px;
      }

      .statistics {
        @include flexDisplay(space-between, center, column);
        width: 45%;
        margin: 5px;
        position: relative;
        @include responsive(bigphone) {
          width: 23%;
        }
        .line {
          width: 90%;
          top: 52%;
          position: absolute;
          border: 1px solid rgba(245, 245, 245, 0.366);

          @include responsive(bigphone) {
            top: 50%;
            width: 100%;
          }
        }

        .statistis-unmber {
          font-size: 100px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;

          color: $card-bg;
          @include responsive(bigphone) {
            font-size: 160px;
          }
        }
        .statistics-name {
          text-align: center;
          font-size: 12px;
          margin-top: -19px;
          color: $paragraph-Color;
          @include responsive(bigphone) {
            font-size: 20px;
          }
        }
      }
    }
  }
}

// SERVICES
.service-main-com {
  // border: 2px solid red;
  background: $text-Color;
  margin-top: 100px;
  padding: 5px;
  padding-bottom: 10px;
  // height: 90vh;
  @include responsive(bigphone) {
    // height: 100vh;
  }

  .what-i-do {
    font-size: 50px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: $card-bg;
    text-align: center;
    // margin-top: 100px;
    @include responsive(bigphone) {
      font-size: 130px;
    }
  }
  .service-btn-con {
    @include flexDisplay(space-between, center, row);
    width: 90%;
    max-width: 330px;
    margin: 0 auto;
    margin-top: 50px;
    // margin: 0 auto;
    // border: 2px solid red;
    @include responsive(bigphone) {
      width: 700px;
      max-width: 700px;
    }

    .service-btn-txt {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      // border-bottom: $border;
      text-transform: uppercase;
      padding: 2px 5px;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      color: $paragraph-Color;
      transition: all 0.5s ease;

      .hover-line-rule {
        opacity: 0;
        border: 2px solid $text-Color;
      }

      &:hover {
        background: $card-bg;
        color: $text-Color;

        .hover-line-rule {
          opacity: 1;
          animation: ll 0.3s linear;

          @keyframes ll {
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
      @include responsive(bigphone) {
        // width: 200px;
        font-size: 30px;
      }
    }
  }

  .service-details-com {
    // border: 2px solid red;
    width: 90%;
    max-width: 330px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    @include responsive(bigphone) {
      width: 700px;
      max-width: 700px;
      margin-top: 50px;
    }

    .service-each-box {
      border: $border;
      border: 1px solid $text-Color;
      background: $card-bg;
      width: 50%;
      height: 180px;
      overflow-y: scroll;
      text-align: center;
      padding: 5px;
      position: relative;
      @include responsive(bigphone) {
        height: 200px;
      }

      &:hover {
        background: $background;
        transform: scale(0.97);
        // transform: translateY(-5px);
        z-index: 2;
        h3 {
          color: $paragraph-Color;
        }
        p {
          color: $text-Color;
        }
      }

      h3 {
        text-transform: uppercase;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: $text-Color;
        font-size: 15px;

        @include responsive(bigphone) {
          font-size: 20px;
        }
      }
      p {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: #b7e9eba2;
        font-size: 13px;
        height: 82%;
        // position: absolute;
        padding: 0 3px;
        padding-top: 10px;
        bottom: 0px;
        @include responsive(bigphone) {
          font-size: 17px;
        }
      }
    }
  }
  .tech-icons {
    // border: 2px solid red;
    background: $text-Color;
    border: 2px solid $text-Color;
    width: 98%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    @include flexDisplay(space-between, center, row);
    @include responsive(bigphone) {
      margin-top: 80px;
    }

    .icon {
      color: $paragraph-Color;
      @include responsive(bigphone) {
        font-size: 50px;
      }
    }
  }
}

// PORTFOLIO

.project-main-con {
  // border: 2px solid red;
  padding: 0 5px;
  .projects {
    font-size: 50px;
    color: $card-bg;
    text-align: center;
    margin: 40px 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    @include responsive(bigphone) {
      font-size: 130px;
    }
  }
  .general-project-con {
    // border: 2px solid red;
    @include responsive(bigphone) {
      max-width: 1800px;
    }

    .project-con {
      position: relative;
      transform: scale(0.9);
      @include responsive(bigphone) {
        transform: scale(1);
      }

      .lower-project-con {
        border: $border;
        height: 230px;
        padding: 5px;

        .project-name {
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          font-size: 30px;
          color: $card-bg;

          @include responsive(bigphone) {
            font-size: 50px;
          }
        }
        .project-role {
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          color: $background;
          margin-top: -5px;
          margin-bottom: 10px;
          margin-left: 3px;
          span {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-weight: bolder;
          }
        }
        .project-details {
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          color: $paragraph-Color;
        }
        .project-tech {
          @include flexDisplay(flex-start, center, row);
          flex-wrap: wrap;
          p {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            border: $border;
            padding: 2px 5px;
            margin: 3px;
            margin-top: 10px;
            color: $text-Color;
            background: $background;
            border-radius: 3px;
          }
        }
        .project-link-con {
          // border: 2px solid blue;
          @include flexDisplay(space-between, center, row);
          width: 90%;
          position: absolute;
          right: 6%;

          bottom: 270px;
          a {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            border: $border;
            border-radius: 5px;
            height: 50px;
            width: 40%;
            // margin-top: 5px;
            color: $text-Color;
            background: $background;
            @include flexDisplay(center, center, row);
          }

          span {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            @include flexDisplay(center, center, row);
            width: 80px;
          }
        }
      }
      .top-project-con {
        .project-img {
          width: 100vw;
          height: 250px;
          border: $border;

          @include responsive(bigphone) {
            width: 800px;
            height: 400px;
          }
          @include responsive(smallPhone) {
            width: 100vw;
            height: 150px;
          }
        }
      }
    }
  }
}

// REVIEWS
.reviews {
  border: 2px solid rgba(255, 0, 0, 0);
  background: $text-Color;
  margin: 0 auto;
  margin-top: 50px;

  h1 {
    font-size: 50px;
    color: $card-bg;
    text-align: center;
    margin: 40px 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .review-container {
    // border: $border;
    max-width: 800px;
    margin: 0 auto;
    // padding: 5px;

    .carousel {
      border: $border;
      padding: 10px;
      margin: 5px;
      background: $background-gradient;
      // width: 100px;
      @include flexDisplay(space-between, center, column);

      .review-img {
        border-radius: 50%;
        // width: 100%;
      }
    }
  }
}
