@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

$border: 1px solid #015871;
$card-bg: #005b60e6;
$background-gradient: radial-gradient(
  ellipse at center,
  rgba(255, 254, 234, 1) 0%,
  rgba(255, 254, 234, 1) 35%,
  #b7e8eb 100%
);
$border-radius: 10px;
$background: #015871;
$text-Color: #b7e8eb;
$paragraph-Color: #37a1a7;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1750px) {
      @content;
    }
  }
}

// General page gradient

body {
  background: $background-gradient;
  border: 2px solid red;
  padding-bottom: 60px;
  @include responsive(bigphone) {
    padding-bottom: 0;
  }
  // overflow: hidden;
}

// Starting page loader
.StartingLoading-main-container {
  // border: 2px solid red;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  animation: closepage 1s 5s linear;

  @keyframes closepage {
    0% {
      width: 100vw;
      height: 100vh;
      // transform: scale(1);
      opacity: 1;
    }
    100% {
      width: 100vw;
      height: 0vh;

      // transform: scale(10);
      opacity: 0;
    }
  }

  .loading-animation {
    margin-top: 45vh;
    @include responsive(bigphone) {
      margin-top: 40vh;
    }

    .loading-number {
      font-weight: bolder;
      font-size: 100px;
      color: $background;

      @include responsive(bigphone) {
        font-size: 200px;
      }
    }

    .loading-skill {
      font-size: 20px;
      color: $background;
      overflow: hiddden;
      height: 30px;
      margin-bottom: 10px;

      @include responsive(bigphone) {
        font-size: 30px;
      }
    }

    .loading-bar {
      border: $border;
      border-radius: $border-radius;
      height: 50%;

      .first-load-line {
        @include flexDisplay(center, flex-start, column);
        height: 10px;
        padding: 2px;

        .second-load-line {
          border: $background;
          border-radius: $border-radius;
          background: $background;
          height: 90%;
          width: 100%;
          animation: loadline 5s linear;

          @keyframes loadline {
            0% {
              width: 0%;
            }
            100% {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;

    .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
        repeat-x;
      position: absolute;
      top: -198px;
      width: 6400px;
      height: 198px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
    }

    .wave:nth-of-type(2) {
      top: -175px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s ease -1.25s infinite;
      opacity: 1;
    }

    @keyframes wave {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: -1600px;
      }
    }

    @keyframes swell {
      0%,
      100% {
        transform: translate3d(0, -25px, 0);
      }
      50% {
        transform: translate3d(0, 5px, 0);
      }
    }
  }
}
.Homepage {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
  // border: 2px solid red;

  .navbar-main-con {
    border: #b7e8eb;
    background: #b7e8eb;
    width: 98%;
    border-radius: $border-radius;
    margin: 0 auto;
    padding: 5px;
    bottom: 0px;
    position: fixed;
    z-index: 20;
    @include flexDisplay(space-between, center, column);
    // border: 2px solid red;

    @include responsive(bigphone) {
      @include flexDisplay(center, center, row);
      width: 600px;
      height: 70px;
      position: relative;
      margin-top: 10px;
    }

    .nav {
      width: 100%;

      .ul {
        @include flexDisplay(center, center, row);
        @include responsive(bigphone) {
          @include flexDisplay(center, center, row);
        }

        li {
          width: 100%;
          height: 50px;
          border-radius: 7px;
          cursor: pointer;
          @include flexDisplay(space-around, center, column);
          @include responsive(bigphone) {
            width: 120px;
            height: 50px;
            border: none;
          }

          &:hover {
            transform: scale(1.1);
            background: $card-bg;
            a {
              color: $text-Color;
            }
          }
          a {
            @include flexDisplay(center, center, row);

            color: $card-bg;
            font-weight: bolder;
            font-size: 10px;
            width: 100%;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;

            @include responsive(bigphone) {
              font-size: 20px;
            }
          }

          .menu-icon {
            font-size: 30px;
            color: $card-bg;
            @include responsive(bigphone) {
              display: none;
            }
          }
        }
      }
    }
  }

  // banner  style
  .Banner-main-con {
    // border: 2px solid red;
    margin-top: 50px;
    .full-name {
      margin: 0 auto;
      color: $card-bg;
      @include flexDisplay(space-around, center, column);

      h3 {
        font-size: 25px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        @include responsive(bigphone) {
          font-size: 50px;
          margin-bottom: -20px;
        }
      }
      h1 {
        font-size: 45px;
        @include flexDisplay(space-around, center, column);
        @include responsive(bigphone) {
          font-size: 100px;
        }
      }
    }
    .banner-img {
      // border: 2px solid red;
      width: 80%;
      // height: 500px;
      margin: 0 auto;
      margin-top: -10px;
      @include flexDisplay(space-around, center, column);

      @include responsive(bigphone) {
        margin-top: -20px;
      }
      .my-img {
        //  border: 2px solid red;
        margin-top: 0;
        @include responsive(bigphone) {
          font-size: 50px;
        }
      }
    }
    .pitch-con {
      // border: 2px solid red;
      margin: 0 auto;
      width: 90%;
      @include flexDisplay(center, center, column);

      @include responsive(bigphone) {
        width: 90%;
        max-width: 1000px;
      }

      .pitch {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        line-height: 25px;
        color: $paragraph-Color;

        a {
          // border: $border;
          padding: 0 3px;
          border-radius: $border-radius;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          color: $card-bg;
          cursor: pointer;
          font-weight: bolder;
        }

        @include responsive(bigphone) {
          font-size: 17px;
        }
      }
    }

    .myStaticsCon {
      @include flexDisplay(space-around, top, row);
      margin: 0 auto;
      margin-top: 20px;
      width: 90%;

      @include responsive(bigphone) {
        width: 90%;
        margin-top: 50px;
        max-width: 1200px;
      }
      .statCard {
        @include flexDisplay(center, top, column);
        border: $border;
        box-shadow: $background-gradient;
        border-radius: $border-radius;
        width: 30%;
        margin-bottom: auto;
        text-align: center;
        padding: 5px 0;

        @include responsive(bigphone) {
          height: 170px;
          border-radius: 10px;
          padding: 0 0 15px 0;
        }

        h1 {
          font-size: 50px;
          color: $card-bg;
          @include responsive(bigphone) {
            font-size: 100px;
          }
        }
        p {
          font-size: 8px;
          color: $paragraph-Color;
          @include responsive(bigphone) {
            font-size: 20px;
          }
        }
      }
    }
    .pun {
      height: 30px;
      overflow: hidden;
      margin: 0 auto;
      width: 85%;
      z-index: 0;

      @include responsive(bigphone) {
        width: 85%;
        max-width: 1200px;
      }

      .slideCon {
        animation: 20s linear infinite;
        @include flexDisplay(space-between, center, row);
        padding-top: 5px;

        p {
          font-size: 10px;
          color: $paragraph-Color;
          word-spacing: 2px;
          letter-spacing: 1px;
          @include responsive(bigphone) {
            font-size: 13px;
            letter-spacing: 3px;
            word-spacing: 5px;
          }
        }
      }
    }

    .statistics-con {
      @include flexDisplay(space-between, center, row);
      flex-wrap: wrap;
      margin: 0 auto;
      margin-top: 50px;
      width: 90%;
      max-width: 1500px;

      .statistics {
        @include flexDisplay(space-between, center, column);
        width: 45%;
        margin: 5px;
        position: relative;
        @include responsive(bigphone) {
          width: 23%;
        }
        .line {
          width: 90%;
          top: 52%;
          position: absolute;
          border: 1px solid rgba(245, 245, 245, 0.366);

          @include responsive(bigphone) {
            top: 50%;
            width: 100%;
          }
        }
        .statistis-unmber {
          font-size: 100px;
          color: $card-bg;
          @include responsive(bigphone) {
            font-size: 160px;
          }
        }
        .statistics-name {
          text-align: center;
          font-size: 12px;
          margin-top: -19px;
          color: $paragraph-Color;
          @include responsive(bigphone) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
