@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, rgb(255, 254, 234) 0%, rgb(255, 254, 234) 35%, #b7e8eb 100%);
}

.StartingLoading-main-container {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  -webkit-animation: closepage 1s 5s linear;
          animation: closepage 1s 5s linear;
}
@-webkit-keyframes closepage {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  100% {
    width: 100vw;
    height: 0vh;
    opacity: 0;
  }
}
@keyframes closepage {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  100% {
    width: 100vw;
    height: 0vh;
    opacity: 0;
  }
}
.StartingLoading-main-container .loading-animation {
  margin-top: 45vh;
}
@media only screen and (min-width: 800px) {
  .StartingLoading-main-container .loading-animation {
    margin-top: 40vh;
  }
}
.StartingLoading-main-container .loading-animation .loading-number {
  font-weight: bolder;
  font-size: 100px;
  color: #015871;
}
@media only screen and (min-width: 800px) {
  .StartingLoading-main-container .loading-animation .loading-number {
    font-size: 200px;
  }
}
.StartingLoading-main-container .loading-animation .loading-skill {
  font-size: 20px;
  color: #015871;
  overflow: hiddden;
  height: 30px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 800px) {
  .StartingLoading-main-container .loading-animation .loading-skill {
    font-size: 30px;
  }
}
.StartingLoading-main-container .loading-animation .loading-bar {
  border: 1px solid #015871;
  border-radius: 10px;
  height: 50%;
}
.StartingLoading-main-container .loading-animation .loading-bar .first-load-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 10px;
  padding: 2px;
}
.StartingLoading-main-container .loading-animation .loading-bar .first-load-line .second-load-line {
  border: #015871;
  border-radius: 10px;
  background: #015871;
  height: 90%;
  width: 100%;
  -webkit-animation: loadline 5s linear;
          animation: loadline 5s linear;
}
@-webkit-keyframes loadline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loadline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.StartingLoading-main-container .ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}
.StartingLoading-main-container .ocean .wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.StartingLoading-main-container .ocean .wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.Homepage {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.Homepage .navbar-main-con {
  border: #b7e8eb;
  background: #b7e8eb;
  width: 98%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px;
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .Homepage .navbar-main-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 600px;
    height: 70px;
    position: relative;
    margin-top: 10px;
  }
}
.Homepage .navbar-main-con .nav {
  width: 100%;
}
.Homepage .navbar-main-con .nav .ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 800px) {
  .Homepage .navbar-main-con .nav .ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.Homepage .navbar-main-con .nav .ul li {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .Homepage .navbar-main-con .nav .ul li {
    width: 120px;
    height: 50px;
    border: none;
  }
}
.Homepage .navbar-main-con .nav .ul li:hover {
  transform: scale(1.1);
  background: rgba(0, 91, 96, 0.9019607843);
}
.Homepage .navbar-main-con .nav .ul li:hover a {
  color: #b7e8eb;
}
.Homepage .navbar-main-con .nav .ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgba(0, 91, 96, 0.9019607843);
  font-weight: bolder;
  font-size: 10px;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (min-width: 800px) {
  .Homepage .navbar-main-con .nav .ul li a {
    font-size: 20px;
  }
}
.Homepage .navbar-main-con .nav .ul li .menu-icon {
  font-size: 30px;
  color: rgba(0, 91, 96, 0.9019607843);
}
@media only screen and (min-width: 800px) {
  .Homepage .navbar-main-con .nav .ul li .menu-icon {
    display: none;
  }
}
.Homepage .Banner-main-con {
  margin-top: 50px;
}
.Homepage .Banner-main-con .full-name {
  margin: 0 auto;
  color: rgba(0, 91, 96, 0.9019607843);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.Homepage .Banner-main-con .full-name h3 {
  font-size: 17px;
}
@media only screen and (min-width: 800px) {
  .Homepage .Banner-main-con .full-name h3 {
    font-size: 30px;
    margin-bottom: -20px;
  }
}
@media only screen and (min-width: 1750px) {
  .Homepage .Banner-main-con .full-name h3 {
    font-size: 6rem;
  }
}
.Homepage .Banner-main-con .full-name h1 {
  font-size: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .Homepage .Banner-main-con .full-name h1 {
    font-size: 80px;
  }
}
.Homepage .Banner-main-con .banner-img {
  width: 80%;
  margin: 0 auto;
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .Homepage .Banner-main-con .banner-img {
    margin-top: -20px;
  }
}
.Homepage .Banner-main-con .banner-img .my-img {
  margin-top: 0;
}
@media only screen and (min-width: 800px) {
  .Homepage .Banner-main-con .banner-img .my-img {
    font-size: 50px;
  }
}/*# sourceMappingURL=Style.css.map */