@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

body {
  background: radial-gradient(ellipse at center, rgb(255, 254, 234) 0%, rgb(255, 254, 234) 35%, #b7e8eb 100%);
  padding-bottom: 60px;
}
@media only screen and (min-width: 750px) {
  body {
    padding-bottom: 0;
  }
}

.visitor-starting-page {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}
.visitor-starting-page .my-first-img {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.visitor-starting-page .my-first-img .img {
  width: 400px;
  height: 400px;
}
@media only screen and (min-width: 750px) {
  .visitor-starting-page .my-first-img .img {
    width: 500px;
    height: 500px;
  }
}
.visitor-starting-page .welcome-quote p,
.visitor-starting-page .welcome-quote i {
  font-size: 10px;
  font-style: italic;
  color: rgba(0, 91, 96, 0.9019607843);
  text-align: center;
}
.visitor-starting-page .welcome-quote p i,
.visitor-starting-page .welcome-quote i i {
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (min-width: 750px) {
  .visitor-starting-page .welcome-quote p i,
  .visitor-starting-page .welcome-quote i i {
    font-size: 18px;
  }
}
@media only screen and (min-width: 750px) {
  .visitor-starting-page .welcome-quote p,
  .visitor-starting-page .welcome-quote i {
    font-size: 18px;
  }
}
.visitor-starting-page .visitors-form {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .visitor-starting-page .visitors-form {
    width: 500px;
  }
}
.visitor-starting-page .visitors-form input {
  width: 100%;
  height: 40px;
  margin: 8px;
  border: 1px solid #015871;
  background: whitesmoke;
  border-radius: 10px;
  padding: 5px 10px;
}
.visitor-starting-page .visitors-form .error-msg {
  font-size: 15px;
  font-style: italic;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.visitor-starting-page .visitors-form .submit {
  background: #37a1a7;
  color: whitesmoke;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.visitor-starting-page .visitors-form .submit:hover {
  background: #b7e8eb;
  color: rgba(0, 91, 96, 0.9019607843);
}

.StartingLoading-main-container {
  background: radial-gradient(ellipse at center, rgb(255, 254, 234) 0%, rgb(255, 254, 234) 35%, #b7e8eb 100%);
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100vw !important;
  height: 100vh;
  padding: 10px;
  animation: closepage 1s 5s linear;
}
.StartingLoading-main-container .client-name {
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.StartingLoading-main-container .client-name h2,
.StartingLoading-main-container .client-name p {
  text-align: center;
  color: rgba(0, 91, 96, 0.9019607843);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@keyframes closepage {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  100% {
    height: 0vh;
    opacity: 0;
  }
}
.StartingLoading-main-container .loading-animation {
  margin-top: 45vh;
}
@media only screen and (min-width: 750px) {
  .StartingLoading-main-container .loading-animation {
    margin-top: 40vh;
  }
}
.StartingLoading-main-container .loading-animation .loading-number {
  font-weight: bolder;
  font-size: 100px;
  color: #015871;
}
@media only screen and (min-width: 750px) {
  .StartingLoading-main-container .loading-animation .loading-number {
    font-size: 200px;
  }
}
.StartingLoading-main-container .loading-animation .loading-skill {
  font-size: 20px;
  color: #015871;
  overflow: hiddden;
  height: 30px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 750px) {
  .StartingLoading-main-container .loading-animation .loading-skill {
    font-size: 30px;
  }
}
.StartingLoading-main-container .loading-animation .loading-bar {
  border: 1px solid #015871;
  border-radius: 10px;
  height: 50%;
}
.StartingLoading-main-container .loading-animation .loading-bar .first-load-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 10px;
  padding: 2px;
}
.StartingLoading-main-container .loading-animation .loading-bar .first-load-line .second-load-line {
  border: #015871;
  border-radius: 10px;
  background: #015871;
  height: 90%;
  width: 100%;
  animation: loadline 5s linear;
}
@keyframes loadline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.StartingLoading-main-container .ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}
.StartingLoading-main-container .ocean .wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -178px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.StartingLoading-main-container .ocean .wave:nth-of-type(2) {
  top: -155px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.Homepage {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.Homepage .navbar-main-con {
  border: #b7e8eb;
  background: #b7e8eb;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px;
  bottom: 0px;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .Homepage .navbar-main-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 600px;
    height: 70px;
    position: relative;
    margin-top: 10px;
  }
}
.Homepage .navbar-main-con .nav {
  width: 100%;
}
.Homepage .navbar-main-con .nav .ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 750px) {
  .Homepage .navbar-main-con .nav .ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.Homepage .navbar-main-con .nav .ul li {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .Homepage .navbar-main-con .nav .ul li {
    width: 120px;
    height: 50px;
    border: none;
  }
}
.Homepage .navbar-main-con .nav .ul li:hover {
  transform: scale(1.1);
  background: rgba(0, 91, 96, 0.9019607843);
}
.Homepage .navbar-main-con .nav .ul li:hover a {
  color: #b7e8eb;
}
.Homepage .navbar-main-con .nav .ul li:hover .menu-icon {
  color: #b7e8eb;
}
.Homepage .navbar-main-con .nav .ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgba(0, 91, 96, 0.9019607843);
  font-weight: bolder;
  font-size: 10px;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (min-width: 750px) {
  .Homepage .navbar-main-con .nav .ul li a {
    font-size: 20px;
  }
}
.Homepage .navbar-main-con .nav .ul li .menu-icon {
  font-size: 30px;
  color: rgba(0, 91, 96, 0.9019607843);
}
@media only screen and (min-width: 750px) {
  .Homepage .navbar-main-con .nav .ul li .menu-icon {
    display: none;
  }
}
.Homepage .Banner-main-con {
  margin-top: 50px;
}
.Homepage .Banner-main-con .full-name {
  margin: 0 auto;
  color: rgba(0, 91, 96, 0.9019607843);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.Homepage .Banner-main-con .full-name h3 {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .full-name h3 {
    font-size: 50px;
    margin-bottom: -20px;
  }
}
.Homepage .Banner-main-con .full-name h1 {
  font-size: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .full-name h1 {
    font-size: 100px;
  }
}
.Homepage .Banner-main-con .banner-img {
  width: 90%;
  margin: 0 auto;
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .banner-img {
    margin-top: -20px;
  }
}
.Homepage .Banner-main-con .banner-img .my-img {
  margin-top: 0;
  margin-right: 25px;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .banner-img .my-img {
    font-size: 50px;
  }
}
.Homepage .Banner-main-con .pitch-con {
  margin: 0 auto;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .pitch-con {
    width: 90%;
    max-width: 1000px;
  }
}
.Homepage .Banner-main-con .pitch-con .pitch {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 25px;
  color: #37a1a7;
}
.Homepage .Banner-main-con .pitch-con .pitch button {
  border: 1px solid #015871;
  background: rgba(0, 0, 0, 0);
  padding: 0 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(0, 91, 96, 0.9019607843);
  cursor: pointer;
  font-weight: bolder;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .pitch-con .pitch {
    font-size: 17px;
  }
}
.Homepage .Banner-main-con .pitch-con .download-cv {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}
.Homepage .Banner-main-con .pitch-con .download-cv button {
  width: 100%;
  height: 100%;
  background: #015871;
  font-weight: bolder;
  cursor: pointer;
  letter-spacing: 2px;
  color: #b7e8eb;
}
.Homepage .Banner-main-con .pitch-con .download-cv button a {
  color: #b7e8eb;
  border: 2px solid red;
  width: 100%;
  height: 100%;
}
.Homepage .Banner-main-con .pitch-con .download-cv button span {
  font-size: 20px;
}
.Homepage .Banner-main-con .pitch-con .download-cv button:hover {
  background: #b7e8eb;
  color: #015871;
}
.Homepage .Banner-main-con .myStaticsCon {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 30px;
  width: 97%;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .myStaticsCon {
    width: 90%;
    margin-top: 50px;
    max-width: 1300px;
  }
}
.Homepage .Banner-main-con .myStaticsCon .statCard {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  border: 1px solid #015871;
  box-shadow: radial-gradient(ellipse at center, rgb(255, 254, 234) 0%, rgb(255, 254, 234) 35%, #b7e8eb 100%);
  border-radius: 10px;
  width: 30%;
  margin-bottom: auto;
  text-align: center;
  padding: 5px 0;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .myStaticsCon .statCard {
    height: 170px;
    border-radius: 10px;
    padding: 0 0 15px 0;
  }
}
.Homepage .Banner-main-con .myStaticsCon .statCard h1 {
  font-size: 50px;
  color: rgba(0, 91, 96, 0.9019607843);
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .myStaticsCon .statCard h1 {
    font-size: 100px;
  }
}
.Homepage .Banner-main-con .myStaticsCon .statCard p {
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #37a1a7;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .myStaticsCon .statCard p {
    font-size: 20px;
  }
}
.Homepage .Banner-main-con .pun {
  height: 30px;
  overflow: hidden;
  margin: 0 auto;
  width: 85%;
  z-index: 0;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .pun {
    width: 85%;
    max-width: 1200px;
  }
}
.Homepage .Banner-main-con .pun .scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
  font-size: 10px;
  color: #37a1a7;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-top: 2px;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .pun .scrolling-text {
    font-size: 13px;
    letter-spacing: 3px;
    word-spacing: 5px;
  }
}
@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.Homepage .Banner-main-con .statistics-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  max-width: 1500px;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .statistics-con {
    margin-top: 50px;
  }
}
.Homepage .Banner-main-con .statistics-con .statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 47%;
  margin: 5px;
  position: relative;
  background: #015871;
  padding: 10px;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .statistics-con .statistics {
    width: 23%;
  }
}
.Homepage .Banner-main-con .statistics-con .statistics .line {
  width: 90%;
  top: 52%;
  position: absolute;
  border: 1px solid #015871;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .statistics-con .statistics .line {
    top: 50%;
    width: 100%;
  }
}
.Homepage .Banner-main-con .statistics-con .statistics .statistis-unmber {
  font-size: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b7e8eb;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .statistics-con .statistics .statistis-unmber {
    font-size: 160px;
  }
}
.Homepage .Banner-main-con .statistics-con .statistics .statistics-name {
  text-align: center;
  font-size: 12px;
  margin-top: -19px;
  color: #37a1a7;
}
@media only screen and (min-width: 750px) {
  .Homepage .Banner-main-con .statistics-con .statistics .statistics-name {
    font-size: 20px;
  }
}

.service-main-com {
  background: #b7e8eb;
  margin-top: 50px;
  padding: 5px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 750px) {
  .service-main-com {
    margin-top: 100px;
  }
}
.service-main-com P {
  margin-top: 30px;
  font-size: 13px;
  text-align: center;
  color: #015871;
}
@media only screen and (min-width: 750px) {
  .service-main-com P {
    font-size: 20px;
    margin-top: 40px;
  }
}
.service-main-com .what-i-do {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #015871;
  text-align: center;
}
@media only screen and (min-width: 750px) {
  .service-main-com .what-i-do {
    font-size: 130px;
  }
}
.service-main-com .service-btn-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20px;
}
@media only screen and (min-width: 750px) {
  .service-main-com .service-btn-con {
    margin-top: 50px;
    width: 700px;
    max-width: 700px;
  }
}
.service-main-com .service-btn-con .service-btn-txt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  padding: 2px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #37a1a7;
  transition: all 0.5s ease;
  margin: 5px;
  width: 50%;
  cursor: pointer;
}
.service-main-com .service-btn-con .service-btn-txt .hover-line-rule {
  opacity: 0;
  border: 2px solid #b7e8eb;
}
.service-main-com .service-btn-con .service-btn-txt:hover {
  border-bottom: 1px solid #015871;
}
.service-main-com .service-btn-con .service-btn-txt:hover .hover-line-rule {
  opacity: 1;
  animation: ll 0.3s linear;
}
@keyframes ll {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (min-width: 750px) {
  .service-main-com .service-btn-con .service-btn-txt {
    font-size: 30px;
  }
}
.service-main-com .service-btn-con .active-category {
  background: #015871;
  color: #b7e8eb;
}
.service-main-com .service-details-com {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 750px) {
  .service-main-com .service-details-com {
    width: 700px;
    max-width: 700px;
    margin-top: 50px;
  }
}
.service-main-com .service-details-com .service-each-box {
  border: 1px solid #015871;
  border: 1px solid #b7e8eb;
  background: #015871;
  width: 47%;
  text-align: center;
  padding: 10px 5px;
  position: relative;
  margin: 5px;
}
.service-main-com .service-details-com .service-each-box:hover {
  background: #015871;
  transform: scale(0.97);
  z-index: 2;
}
.service-main-com .service-details-com .service-each-box:hover h3 {
  color: #37a1a7;
}
.service-main-com .service-details-com .service-each-box:hover p {
  color: #b7e8eb;
}
.service-main-com .service-details-com .service-each-box h3 {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b7e8eb;
  font-size: 17px;
}
@media only screen and (min-width: 750px) {
  .service-main-com .service-details-com .service-each-box h3 {
    font-size: 33px;
  }
}
.service-main-com .service-details-com .service-each-box p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(183, 233, 235, 0.6352941176);
  font-size: 16px;
  height: 82%;
  padding: 0 3px;
  padding-top: 10px;
  bottom: 0px;
}
@media only screen and (min-width: 750px) {
  .service-main-com .service-details-com .service-each-box p {
    font-size: 20px;
  }
}
.service-main-com .tech-icons {
  background: #b7e8eb;
  border: 2px solid #b7e8eb;
  width: 98%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 750px) {
  .service-main-com .tech-icons {
    margin-top: 80px;
  }
}
.service-main-com .tech-icons .icon {
  color: #37a1a7;
}
@media only screen and (min-width: 750px) {
  .service-main-com .tech-icons .icon {
    font-size: 50px;
  }
}

.project-main-con {
  width: 100%;
  padding: 5px;
}
.project-main-con .more-projects {
  text-align: center;
  color: #015871;
}
.project-main-con p {
  margin-top: 30px;
  font-size: 13px;
  text-align: center;
  color: #015871;
}
@media only screen and (min-width: 750px) {
  .project-main-con p {
    font-size: 20px;
    margin-top: 40px;
  }
}
.project-main-con .projects {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #015871;
  text-align: center;
}
@media only screen and (min-width: 750px) {
  .project-main-con .projects {
    font-size: 130px;
  }
}
.project-main-con .service-btn-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 750px) {
  .project-main-con .service-btn-con {
    margin-bottom: 50px;
    width: 700px;
    max-width: 700px;
  }
}
.project-main-con .service-btn-con .service-btn-txt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #37a1a7;
  transition: all 0.5s ease;
  margin: 5px;
  width: 50%;
  cursor: pointer;
}
.project-main-con .service-btn-con .service-btn-txt .hover-line-rule {
  opacity: 0;
  border: 2px solid #b7e8eb;
}
.project-main-con .service-btn-con .service-btn-txt:hover {
  border-bottom: 1px solid #015871;
}
.project-main-con .service-btn-con .service-btn-txt:hover .hover-line-rule {
  opacity: 1;
  animation: ll 0.3s linear;
}
@keyframes ll {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (min-width: 750px) {
  .project-main-con .service-btn-con .service-btn-txt {
    font-size: 30px;
  }
}
.project-main-con .service-btn-con .active-category {
  background: #015871;
  color: #b7e8eb;
}
.project-main-con .general-project-con {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
}
.project-main-con .general-project-con .project-con {
  border-radius: 10px 10px 0 0;
  width: 100%;
  border: 0.5px solid #015871;
  margin: 10px 0px;
}
@media only screen and (min-width: 750px) {
  .project-main-con .general-project-con .project-con {
    width: 45%;
  }
}
@media only screen and (min-width: 1250px) {
  .project-main-con .general-project-con .project-con {
    width: 31%;
  }
}
.project-main-con .general-project-con .project-con:hover .project-link-con {
  display: block;
}
.project-main-con .general-project-con .project-con:hover .lower-project-con {
  background: #015871;
}
.project-main-con .general-project-con .project-con:hover .lower-project-con .project-name {
  color: #b7e8eb;
}
.project-main-con .general-project-con .project-con:hover .lower-project-con .project-role {
  color: #4ec6cd;
}
.project-main-con .general-project-con .project-con:hover .lower-project-con .project-details {
  color: #b7e8eb;
}
.project-main-con .general-project-con .project-con:hover .lower-project-con .project-tech p {
  color: #015871;
  background: #b7e8eb;
}
@media only screen and (min-width: 750px) {
  .project-main-con .general-project-con .project-con {
    transform: scale(1);
  }
}
.project-main-con .general-project-con .project-con .lower-project-con {
  border-radius: 0 0 10px 10px;
  padding: 5px;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: #015871;
}
@media only screen and (min-width: 750px) {
  .project-main-con .general-project-con .project-con .lower-project-con .project-name {
    font-size: 40px;
  }
}
.project-main-con .general-project-con .project-con .lower-project-con .project-role {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #015871;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  text-align: start;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-role span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-details {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #37a1a7;
  text-align: start;
  margin-top: -2px;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-tech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-tech p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid #015871;
  padding: 2px 5px;
  margin: 3px;
  margin-top: 10px;
  color: #b7e8eb;
  background: #015871;
  border-radius: 3px;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-link-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  right: 6%;
  display: none;
  top: 180px;
  background: #4ec6cd;
  padding: 3px;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-link-con a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid #015871;
  border-radius: 5px;
  height: 50px;
  width: 40%;
  color: #b7e8eb;
  background: #015871;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.project-main-con .general-project-con .project-con .lower-project-con .project-link-con a:hover {
  background: #b7e8eb;
  color: rgba(0, 91, 96, 0.9019607843);
}
.project-main-con .general-project-con .project-con .lower-project-con .project-link-con span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80px;
}
.project-main-con .general-project-con .project-con:hover .project-link-con {
  display: flex;
}
.project-main-con .general-project-con .project-con .top-project-con {
  width: 100%;
  height: 200px;
}
@media only screen and (min-width: 750px) {
  .project-main-con .general-project-con .project-con .top-project-con {
    height: 250px;
  }
}
.project-main-con .general-project-con .project-con .top-project-con .project-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.reviews {
  border: 2px solid rgba(255, 0, 0, 0);
  background: #b7e8eb;
  margin: 0 auto;
  margin-top: 50px;
  height: 80vh;
}
.reviews h1 {
  font-size: 50px;
  color: rgba(0, 91, 96, 0.9019607843);
  text-align: center;
  margin: 40px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.reviews .review-container {
  max-width: 800px;
  margin: 0 auto;
}
.reviews .review-container .carousel {
  border: 1px solid #015871;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background: radial-gradient(ellipse at center, rgb(255, 254, 234) 0%, rgb(255, 254, 234) 35%, #b7e8eb 100%);
  transform: scale(0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .reviews .review-container .carousel {
    transform: scale(1);
  }
}
.reviews .review-container .carousel .review-img {
  border-radius: 50%;
  border: 2px solid rgba(0, 91, 96, 0.9019607843);
}
.reviews .review-container .carousel h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 91, 96, 0.9019607843);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}
.reviews .review-container .carousel i {
  font-style: normal;
  text-transform: capitalize;
  color: #37a1a7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}
.reviews .review-container .carousel p {
  font-style: italic;
  text-align: center;
  color: #37a1a7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  margin-top: 20px;
}
@media only screen and (min-width: 750px) {
  .reviews .review-container .carousel p {
    font-size: 17px;
  }
}

.contact {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact h1 {
  margin: 50px 0;
  font-size: 30px;
  color: rgba(0, 91, 96, 0.9019607843);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (min-width: 750px) {
  .contact h1 {
    font-size: 50px;
  }
}
.contact form {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .contact form {
    width: 500px;
  }
}
.contact form input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  width: 100%;
  height: 45px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #015871;
  color: #37a1a7;
  background: whitesmoke;
}
.contact form .message {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #015871;
  color: #37a1a7;
  background: whitesmoke;
  width: 100%;
  margin: 10px;
  padding: 5px 10px;
  height: 110px;
}
.contact form .submit {
  cursor: pointer;
  background: rgba(0, 91, 96, 0.9019607843);
  color: #b7e8eb;
  font-weight: bolder;
}
.contact form .submit:hover {
  background: #b7e8eb;
  color: rgba(0, 91, 96, 0.9019607843);
}

.footer {
  background: rgba(0, 91, 96, 0.9019607843);
}
.footer .content-cont {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .footer .content-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 750px) {
  .footer .content-cont .thanks {
    width: 60%;
  }
}
.footer .content-cont .thanks p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #b7e8eb;
  text-align: center;
}
@media only screen and (min-width: 750px) {
  .footer .content-cont .thanks p {
    font-size: 18px;
  }
}
.footer .content-cont .socials-location {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .footer .content-cont .socials-location {
    width: 40%;
  }
}
.footer .content-cont .socials-location h3 {
  color: #b7e8eb;
  margin: 20px 0;
}
.footer .content-cont .socials-location .socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (min-width: 750px) {
  .footer .content-cont .socials-location .socials {
    width: 40%;
    border: 2px solid red;
  }
}
.footer .content-cont .socials-location .socials span {
  margin: 5px;
}
.footer .content-cont .socials-location .socials span a {
  font-size: 25px;
  color: #b7e8eb;
}
@media only screen and (min-width: 750px) {
  .footer .content-cont .socials-location .socials span a {
    font-size: 35px;
  }
}
.footer .content-cont .socials-location .socials span:hover {
  transform: scale(1.1);
}

.linktree-main-con {
  position: absolute;
  padding: 10px 0;
  padding-bottom: 50px;
  background: url("https://res.cloudinary.com/isreal/image/upload/v1662332718/My%20portfolio%20Project/AJIS_BOARD_hntwt3.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: black;
  overflow: scroll;
}
@media only screen and (min-width: 750px) {
  .linktree-main-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.linktree-main-con .linktree-con {
  overflow: scroll;
  max-width: 800px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .linktree-main-con .linktree-con {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 0.1px solid #b7e8eb;
    padding: 10px;
    border-radius: 10px;
  }
}
.linktree-main-con .linktree-con .top {
  text-align: center;
  color: #b7e8eb;
}
.linktree-main-con .linktree-con .top .top-img {
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid rgba(183, 233, 235, 0.3137254902);
  background: rgba(183, 233, 235, 0.2941176471);
  overflow: hidden;
}
.linktree-main-con .linktree-con .top .top-img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.linktree-main-con .linktree-con .top h1 {
  margin-top: 5px;
}
.linktree-main-con .linktree-con .top p {
  margin-top: 10px;
}
.linktree-main-con .linktree-con .lower {
  padding: 5px;
  width: 100%;
  margin-top: 30px;
  color: #b7e8eb;
}
.linktree-main-con .linktree-con .lower .single-link {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  height: 50px;
  border: 0.6px solid #b7e8eb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.linktree-main-con .linktree-con .lower .single-link:hover {
  transform: scale(0.95);
  background: rgba(183, 233, 235, 0.2941176471);
}
.linktree-main-con .linktree-con .lower a {
  color: #b7e8eb;
}/*# sourceMappingURL=Style.css.map */